{% load static %}

<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center ">
    <a href="{% url 'home' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <img class="w-9" src="{% static 'img/snake.svg' %}">
      <span class="ml-3 text-xl">Santan</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="{% url 'home' %}">Home</a>
      <a class="mr-5 hover:text-gray-900" href="{% url 'ie:upload' %}">Upload</a>
      <a class="mr-5 hover:text-gray-900" href="{% url 'ie:view' %}">View</a>
      <a class="mr-5 hover:text-gray-900" href="{% url 'mail:send' %}">Mail</a>
    </nav>
    <div class="inline-flex items-center border-0 py-1 px-3 focus:outline-none rounded text-base mt-4 md:mt-0">
      {% if request.user.is_authenticated %}
        <p class="mr-5 text-gray-900 font-semibold">Hello {{ request.user.username }}</p>
        <a href="{% url 'users:logout' %}" class="mr-5 hover:text-gray-900">Logout</a>
      {% else %}
        <a href="{% url 'users:login' %}" class="mr-5 hover:text-gray-900">Login</a>
        <a href="{% url 'users:signup' %}" class="mr-5 hover:text-gray-900">Signup</a>
      {% endif %}
    </div>
  </div>
</header>